/* Dashboard.css */

.dash-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }
  
  .search-bar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }
  
  .search-input {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0px;
    width: 30%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }
  
  .search-input input {
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .search-icon {
    margin-right: 10px;
  }
  
  .dropdown {
    position: relative;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .dropdown-trigger img {
    cursor: pointer;
  }
  
  /* Add this CSS to open the dropdown on the left of the image */
.dropdown-options {
    position: absolute;
    top: 0;
    right: 100%; /* Adjust the value for the desired space between the image and the dropdown */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  
  
  .dropdown-option {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dropdown-option:hover {
    background-color: #f0f0f0;
  }
  .dashboardcontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0px;
  }
  .insidecontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .statisticsdiv{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 20px;
    margin-top: 5px;
    border-radius: 10px;
  }
  .statinside{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-bottom: 20px;
  }
  .statstext{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
  }
  .statoption1{
    background-color: #e0f9fc;
    width: 50px;
    height: 50px;display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
  .statoption2{
    background-color: #fceaeb;
    width: 50px;
    height: 50px;display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
  .statoption3{
    background-color: #e5f8ee;
    width: 50px;
    height: 50px;display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
  .statoptions{
    display: flex;
  }
  .statoptionstext{
    margin-left: 9px;
  }

  .chartdiv{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }

  .formstable {
    background-color: white;
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ccc; /* 1px bottom border for each row */
  }
  th{
    border-bottom: 2px solid #ccc;
  }
  
  tr:hover {
    background-color: #f5f5f5; /* Highlight on hover */
  }
  .pagination{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
  .pagination-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .pagination-item {
    background-color: white;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .pagination-item.active {
    background-color: #2d7672;
    color: white;
  }
  
  .page-arrow {
    background-color: white;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .below-input {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* This aligns content to the right */
    border-radius: 5px;
    padding: 0px;
    width: 20%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }
  .insideinput{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .below-input input {
    border: none;
    outline: none;
    padding: 5px;
  }
  .approve-button{
    width: 80px;
    background-color: #2d7672;
    color: white;
    border: none;
    padding: 3px;
    cursor: pointer;
  }
  .approve-button:hover{
    background-color: #1a524e;
  }