/* Dashboard.css */

.dash-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.search-input {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0px;
  width: 30%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.search-input input {
  border: none;
  outline: none;
  padding: 5px;
}

.search-icon {
  margin-right: 10px;
}

.dropdown {
  position: relative;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.dropdown-trigger img {
  cursor: pointer;
}

/* Add this CSS to open the dropdown on the left of the image */
.dropdown-options {
  position: absolute;
  top: 0;
  right: 100%; /* Adjust the value for the desired space between the image and the dropdown */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.dropdown-option {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}
.dashboardcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 0px;
  box-sizing: border-box;
}
.insidecontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.statisticsdiv {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px;
  margin-top: 5px;
  border-radius: 10px;
  box-sizing: border-box;
}
.statinside {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.statstext {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
}
.statoption1 {
  background-color: #e0f9fc;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.statoption2 {
  background-color: #fceaeb;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.statoption3 {
  background-color: #e5f8ee;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.statoptions {
  display: flex;
}
.statoptionstext {
  margin-left: 9px;
}

.chartdiv {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.formdiv {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.formstable {
  background-color: white;
  margin-top: 10px;
  border-radius: 8px;
  flex-wrap: wrap;
  overflow: auto;
}

table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
  justify-content: center;
  align-items: center;
}

th,
td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ccc; /* 1px bottom border for each row */
}
th {
  border-bottom: 2px solid #ccc;
}

tr:hover {
  background-color: #f5f5f5; /* Highlight on hover */
}
.pagination {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}
.pagination-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagination-item {
  background-color: white;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.pagination-item.active {
  background-color: #2d7672;
  color: white;
}

.page-arrow {
  background-color: white;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.below-input {
  display: flex;
  align-items: center;
  justify-content: ""; /* This aligns content to the right */
  border-radius: 5px;
  padding: 0px;
  width: 30%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  margin: 5px;
  border-radius: 10px;
}
.insideinput {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.below-input input {
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
}
.approve-button {
  width: 80px;
  background-color: #2d7672;
  color: white;
  border: none;
  padding: 3px;
  cursor: pointer;
}
.approve-button:hover {
  background-color: #1a524e;
}

/* Add these styles to your CSS file or style block */

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.modal-container label {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.modal-input {
  width: 80%; /* Adjust the width as needed */
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-button {
  background-color: #2d7672; /* Green color */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  height: 40px;
}
.reject-button {
  background-color: red; /* Green color */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  height: 40px;
}
.cancel-button {
  background-color: white;
  color: #333; /* Dark color */
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  height: 40px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 80%; /* Adjust the width as needed */
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-image {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.popup-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.approve-button {
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.approved-text {
  color: #4caf50; /* Green color */
}

.rejected-text {
  color: #f44336; /* Red color */
}

.image-con {
  background-color: #1a524e;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 5px;
}
.reject-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .statinside {
    flex-direction: column;
  }
  .save-button {
    margin: 10px;
  }
  .statoptions {
    padding: 5px;
  }
  th,
  td {
    width: 25%;
    font-size: 12px;
  }
  .modal-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .below-input{
    width: 60%;
  }
}
