* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "YourFont", sans-serif;
  /* Replace 'YourFont' with the actual font name you want to use */
}

.homelogo {
  margin: 20px 0;
  font-size: 24px;
  width: 100%;
  justify-content: baseline;
  padding: 20px;
  align-items: center;
}
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 100%;
}
.middle-text p {
  font-size: 20px;
}
.mission {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.middle-text {
  text-align: justify;
}
.top-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px;
  height: 18vh;
}

.logo {
  font-size: 24px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.text {
  font-size: 36px;
}

.images {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image {
  width: 200px;
  height: 200px;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  padding-top: 20px;
  padding-bottom: 0px;
  box-sizing: border-box;
  width: 100%;
  text-align: justify;
}

.signbutton,
.loginbutton {
  background-color: #2d7672;
  color: white;
  width: 160px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.loginbutton {
  background-color: #fff;
  color: black;
  width: 160px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  border-color: black;
  border-width: 1px;
}

.signbutton:hover,
.loginbutton:hover {
  background-color: #1a524e;
}
.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: #2d7672;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.scottname {
  margin-top: 15px;
  left: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: right;
}
.image-container {
  position: relative;
  width: 100%;
  height: 600px;
}

.top-left-image {
  position: absolute;
  width: 100%;
  height: 90%;
}
.approach {
  position: absolute;
  bottom: 0px;
  right: 20px;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  padding-top: 3px;
  max-width: 500px;
  /* box-shadow: 0 0px 100px rgba(255, 255, 255, 0.9);Add box shadow */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  text-align: center; /* Center text */
  border: 1px solid black; /* Set a border color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.approach h2 {
  margin-top: 0px;
  font-size: 24px;
  margin-bottom: 10px;
}

.approachtext {
  font-size: 16px;
}

.bottom-right-image {
  width: 80%;
  height: 70%;
  top: 0;
  right: 0;
  transform: translate(30%, -10%);
}
.middle-text {
  font-size: 22px;
  padding: 80px;
  color: white;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 90%;
}
.bottom-text {
  padding: 50px;
  padding-left: 10px;
  width: 60%;
}
.bottom-text p {
  font-size: 20px;
}
.bottom-text h2 {
  font-size: 30px;
}
.qrimage {
  width: 30%;
  padding: 40px;
}
.contact-section {
  padding: 80px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.contact-options {
  display: flex;
  gap: 10px;
  width: 90%;
  justify-content: space-between;
  align-self: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.contact-options p {
  font-size: 18px;
}
.contact-option {
  display: flex;
  align-self: center;
  height: 55px;
}
.option-text {
  padding: 5px;
}
.below-section {
  display: flex;
  width: 100%;
  background-color: #2d7672;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  padding: 30px;
  padding-top: 10px;
  box-sizing: border-box;
}
.download-options {
  margin-top: 5px;
}
.download-option {
  margin: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .contact-section {
    margin-bottom: 50px;
  }
  .contact-options{
    padding-left: 0px;
    width: 110%;
  }
  .top-section {
    height: 10vh;
  }
  .signbutton,
  .loginbutton {
    padding: 0px;
    width: 70px;
    height: 30px;
    font-size: 12px;
    border-radius: 10px;
  }
  .logoimage {
    width: 150px;
    align-self: flex-start;
  }
}
@media (min-width: 451px) and (max-width: 768px) {
  .signbutton,
  .loginbutton {
    width: 100px;
    height: 40px;
    font-size: 18px;
    border-radius: 15px;
  }
  .top-section {
    height: 15vh;
  }
}

@media (max-width: 768px) {
  .contact-option {
    flex-direction: row;
    align-self: flex-start;
  }
  
  .contact-options {
    flex-direction: column;
    align-self: flex-start;
  }
  .bottom-section {
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
  }
  .bottom-text {
    width: 80%;
    margin-bottom: 0%;
    padding: 0px;
    padding-top: 30px;
  }
  .qrimage {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }

  .main-heading {
    text-align: left;
  }
  .approach {
    right: 0px;
  }
  .middle-text {
    align-self: center;
    width: 95%;
    padding-right: 30px;
    margin-bottom: 20px;
    align-items: center;
  }

  .middle-section {
    padding: 5px;
    align-items: center;
  }
  .bottom-section {
    padding: 0;
    align-items: center;
  }

  .image-container {
    height: 500px;
  }
  .approach {
    padding: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .top-section {
    padding-left: 200px;
    padding-right: 200px;
  }
  .middle-section {
    padding-left: 200px;
    padding-right: 200px;
  }
  .middle-text{
    width: 100%;
  }
  .bottom-section {
    padding-left: 200px;
    padding-right: 200px;
  }
  .contact-section {
    padding-left: 200px;
    padding-right: 200px;
  }

}
